<div
  class="paddinged header-container"
  [ngStyle]="{
    'background-image':
      'url(https://goarctic.ru/upload/iblock/444/4445f76ff7261804dfc52f8531daa7a4.jpg)'
  }"
>
  <div class="container d-flex align-items-center header">
    <h2>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat, eius.
    </h2>
  </div>
</div>
<article class="container pt-5">
  <div class="title mb-3">
    <h3>Lorem ipsum dolor sit.</h3>
    <div class="tags">
      <a href="#">HTML</a>
      <a href="#">JavaScript</a>
      <a href="#">Angular</a>
    </div>
  </div>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa quaerat
    facilis incidunt dolore voluptate eveniet rerum aspernatur odit ducimus
    eligendi sint possimus odio, quia quidem debitis error, tempora neque
    magnam. Dolor suscipit, facilis, aut similique commodi neque assumenda nemo
    eum reiciendis vero fuga, nostrum magnam autem cupiditate velit tenetur
    consequuntur laboriosam quas magni voluptates reprehenderit maxime. Quod
    quidem quo rem voluptatibus consequatur accusamus odit fuga ipsa eos?
    Accusantium facere ad nisi blanditiis modi a aliquam aperiam laboriosam,
    porro excepturi placeat repellendus dolor neque. Totam perferendis ad,
    doloremque nisi cum ipsa libero neque necessitatibus laudantium omnis
    provident fugit, mollitia temporibus dicta.
  </p>
  <blockquote>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Saepe eaque
    magnam, sapiente iste nesciunt officia iure perferendis alias corrupti
    quasi, aperiam, illum ipsa velit dicta voluptatem quaerat consectetur ea
    atque?
  </blockquote>
  <pre>
      <code [highlight]="code">
      </code>
  </pre>
</article>
