<div class="d-flex flex-wrap">
  <div class="article">
    <div
      class="bg"
      [ngStyle]="{ 'background-image': 'url(../../assets/apple.jpg)' }"
    ></div>
    <div class="content">
      <h2>Lorem, ipsum dolor.</h2>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit nihil unde
        porro tempore! Illum repudiandae, aspernatur deserunt quod adipisci
        reprehenderit!
      </p>
    </div>
  </div>
  <div class="article">
    <div
      class="bg"
      [ngStyle]="{ 'background-image': 'url(../../assets/apple.jpg)' }"
    ></div>
    <div class="content">
      <h2>Lorem, ipsum dolor.</h2>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit nihil unde
        porro tempore! Illum repudiandae, aspernatur deserunt quod adipisci
        reprehenderit!
      </p>
    </div>
  </div>
  <div class="article">
    <div
      class="bg"
      [ngStyle]="{ 'background-image': 'url(../../assets/apple.jpg)' }"
    ></div>
    <div class="content">
      <h2>Lorem, ipsum dolor.</h2>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit nihil unde
        porro tempore! Illum repudiandae, aspernatur deserunt quod adipisci
        reprehenderit!
      </p>
    </div>
  </div>
  <div class="article">
    <div
      class="bg"
      [ngStyle]="{ 'background-image': 'url(../../assets/apple.jpg)' }"
    ></div>
    <div class="content">
      <h2>Lorem, ipsum dolor.</h2>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit nihil unde
        porro tempore! Illum repudiandae, aspernatur deserunt quod adipisci
        reprehenderit!
      </p>
    </div>
  </div>
</div>
