<div class="maket">
  <div class="container h-100">
    <div class="d-flex h-100">
      <div class="col left d-flex flex-column justify-content-center">

        <div class="item active">
          <h4>Lorem ipsum dolor sit amet.</h4>
          <p class="pl-5">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet in
            sapiente quaerat odit possimus nobis modi et repellendus dolores
            cum.
          </p>
          <span class="pl-5">— <a>Подробнее</a></span> 
        </div>
        <div class="item">
          <h4>Lorem ipsum dolor sit amet.</h4>
          <p class="pl-5">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet in
            sapiente quaerat odit possimus nobis modi et repellendus dolores
            cum.
          </p>
        </div>
        <div class="item">
          <h4>Lorem ipsum dolor sit amet.</h4>
          <p class="pl-5">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet in
            sapiente quaerat odit possimus nobis modi et repellendus dolores
            cum.
          </p>
        </div>
        <div class="item">
          <h4>Lorem ipsum dolor sit amet.</h4>
          <p class="pl-5">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet in
            sapiente quaerat odit possimus nobis modi et repellendus dolores
            cum.
          </p>
        </div>
      </div>
      <div class="col right">
        <div class="round"></div>
        <img src="../../assets/iphone.png" class="active" alt="">
        <img src="../../assets/iphone.png" alt="">
        <img src="../../assets/iphone.png" alt="">
        <img src="../../assets/iphone.png" alt="">
      </div>
    </div>
  </div>
</div>

