<div class="maket">
  <div class="container h-100">
    <div class="d-flex h-100">
      <div class="col d-flex align-items-center">
        <div class="left d-flex flex-column justify-content-center">
          <ng-container *ngIf="makets?.length > 4">
            <img
              src="../../assets/up-arrow-angle.svg"
              class="arrow top"
              (click)="this.swipePrev()"
            />
            <img
              src="../../assets/down-arrow.svg"
              class="arrow bottom"
              (click)="this.swipeNext()"
            />
          </ng-container>

          <div
            class="item"
            [ngClass]="{
              active: item.isActive,
              'mb-0': isLast
            }"
            *ngFor="let item of currentMakets; let i = index; let isLast = last"
            (click)="onMaketClick(item.index, i)"
          >
            <h4>{{ item.title }} - {{ item.index }}</h4>
            <p class="pl-5">
              {{ item.description }}
            </p>
            <span class="pl-5"
              >— <a [routerLink]="['/makets', item.id]">Подробнее</a></span
            >
          </div>
        </div>
      </div>
      <div class="col right">
        <div class="round"></div>
        <img
          [src]="item.img"
          [ngClass]="{
            active: item.isActive,
            prev: item.isPrev,
            next: item.isNext
          }"
          *ngFor="let item of currentMakets"
        />
      </div>
    </div>
  </div>
</div>
